.albums {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2em;

    .album {
        color: $box-normal-text-color;
        font-size: 16px;
        box-sizing: border-box;
        width: 100%;
        transition: transform $transition-duration;

        .image {
            width: 100%;
            aspect-ratio: 1 / 1;
            margin: 0 auto;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .title {
            margin: 0 auto;
            margin-top: .5em;
            overflow-wrap: anywhere;
        }

        &:hover {
            cursor: pointer;
            color: $primary-color;
            transform: scale(1.05);
        }
    }
}

@media (max-width: 1500px) {
    .albums {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
}

@media (max-width: 1300px) {
    .albums {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media (max-width: 1100px) {
    .albums {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (max-width: 950px) {
    .albums {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: $responsive-threshold-mobile) {
    .albums {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 200px;
        margin: 0 auto;

        .album {
            text-align: center;
            width: 100%;

            .title {
                min-height: 0;
                text-wrap: none;
                max-width: 100%;
            }
        }
    }
}

