.remote-libraries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    .library {
        color: $box-normal-text-color;
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1em;
        border: 1px solid $box-normal-border-color;
        transition: transform $transition-duration;

        .icon {
            font-size: 20px;
        }

        .address {
            word-break: break-all;
        }

        &:hover {
            cursor: pointer;
            color: $primary-color;
            transform: scale(1.05);
        }
    }
}

@media (max-width: $responsive-threshold-mobile) {
    .remote-libraries {
        grid-template-columns: 1fr;
    }
}
