.spinner {
    display: block;
    text-align: center;

    > .eggplant {
        display: inline-block;
        transform-origin: center bottom;
        animation: eggplant-bounce 0.7s infinite;
    }
}

@keyframes eggplant-bounce {
    0%, 10%, 90%, 100% { transform: translateY(0) scale(1.12, 0.88); animation-timing-function: ease-out; }
    50%                { transform: translateY(-0.5em) scale(0.95, 1.05); animation-timing-function: ease-in; }
}
