.tracks {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;

    .track {
        display: contents;

        &:nth-child(even) > * {
            background-color: $box-normal-background-color-alt;
        }

        > * {
            padding: 1em 0.5em;
        }

        > :first-child {
            padding-left: 2em;
        }

        > :last-child {
            padding-right: 2em;
        }

        .play {
            .button {
                display: none;
            }

            .number {
                text-align: left;
            }

            &.playing, &:hover {
                color: $primary-color;
            }

            &:active {
                color: $primary-color-dark;
            }
        }

        &:hover .play, .play.playing {
            .button {
                display: block;
            }

            .number {
                display: none;
            }
        }

        &:hover {
            .actions .target {
                display: block;
            }
        }

        .actions {
            .target {
                display: none;
                padding: 0 5px;
            }

            a {
                display: block;
                padding: 1em;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .title {
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .duration {
            text-align: right;
        }
    }

    @media (hover: none) {
        .track {
            .play {
                .button {
                    display: block;
                }

                .number {
                    display: none;
                }
            }

            .actions {
                .target {
                    display: block;
                }
            }
        }
    }
}
