.tracks {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;

    .track {
        display: contents;

        &:nth-child(even) > * {
            background-color: $box-normal-background-color-alt;
        }

        > * {
            padding: 1em 0.5em;
        }

        > :first-child {
            padding-left: 2em;
        }

        > :last-child {
            padding-right: 2em;
        }

        .play {
            text-align: right;

            .button {
                display: none;
            }

            .number {
                text-align: right;
                color: $box-normal-text-dimmed-color;
            }

            &:hover {
                color: $primary-color;
            }

            &:active {
                color: $primary-color-dark;
            }
        }

        .actions {
            .target {
                display: none;
                padding: 0 5px;
            }

            a {
                display: block;
                padding: 1em;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .title {
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .duration {
            text-align: right;
        }
    }

    @media not all and (any-pointer: coarse) {
        .track {
            &:hover {
                .play {
                    .button {
                        display: block;
                    }

                    .number {
                        display: none;
                    }
                }

                .actions .target {
                    display: block;
                }
            }

            &.playing {
                .play {
                    .button {
                        display: block;
                        color: $primary-color;
                    }

                    .number {
                        display: none;
                    }
                }
            }

        }
    }

    @media (any-pointer: coarse) {
        .track {
            &:hover {
                .play {
                    .button {
                        display: none;
                    }

                    .number {
                        display: block;
                    }
                }
            }

            &.playing {
                .title {
                    color: $primary-color;
                }
            }

            .actions {
                .target {
                    display: block;
                }
            }
        }
    }
}
