.settings {
    padding: 2em;

    .action-bar {
        margin: -2em -2em 0;
    }

    .main-header {
        margin-top: -($box-normal-border-width);
    }

    .subheader {
        margin-top: 3em;
    }

    .users {
        margin: 0 -2em;
    }

    .api-docs {
        margin-top: 1em;

        a {
            color: $primary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .no-admin-settings {
        margin-top: 3em;
        padding: 2em;
        text-align: center;
    }

}
