.stats {
    padding: 2em;

    .action-bar {
        margin: -2em -2em 0;
    }

    .main-header {
        margin-top: -($box-normal-border-width);
    }

    .spinner {
        font-size: 20px;
        text-align: center;
        padding: 1em;
    }

    //.subheader {
    //    margin-top: 3em;
    //}

    //.users {
    //    margin: 0 -2em;
    //}

}
